{% extends 'base.html' %} 
{% block content %}
<div>
    <h2>Update Post</h2>
</div>

    <div class="form">
        {% if post and current_user.is_authenticated %}
        {% for post in post %}

        <form action="{{url_for('post.edit_post', post_id=post.id)}}" method="POST">
            <div class="mb-6">
                <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
                <input type="text" name="title" value="{{post.title}}" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Post</label>
            <textarea id="message" name="content" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>{{post.content}}</textarea>
            <br><br>
            <input type="submit" class="submit inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800" value="Update Post">
    
        </form>

       
        {% endfor %}
        {%endif%}
    </div>
{% endblock content %}