{% extends 'base.html' %}
{% block content %}

<div>
    <h2>Sign Up</h2>
</div>

<div class="form">

    
    <form action="{{url_for('user.create_user')}}" method="POST">
        <label for="firstName">First Name</label><br><br>
        <input type="text" name="first_name" required><br><br>
        <label for="lastName">Last Name</label><br><br>
        <input type="text" name="last_name" required><br><br>
        <label for="username">Username</label><br><br>
        <input type="text" name="username" required><br><br>
        <label for="email" required>Email</label><br><br>
        <input type="email" name="email" required><br><br>
        <label for="password">Password</label><br><br>
        <input type="password" name="password" required><br><br>
        <label for="confirm">Confirm Password</label><br><br>
        <input type="password" name="confirm" required><br><br>
        <input type="submit" class="submit inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Sign Up">
    </form>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        <span class="font-medium">{{ messages[0] }}</span>
    </div>
    {%endif%}
    {%endwith%}
  
  <br><br>
  <div>
   
    <p>Already have an account? Login <a href="{{url_for('user.login')}}">Here</a></p>
</div>


</div>



{% endblock content %}